.Numbers {direction: rtl;

  margin: 30px 0;
  // background-color: var(--white-color);
  padding: 30px ;
  margin-bottom: 60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  // box-shadow: var(--box-shadow);
  

  .column_items {
    color: var(--main-color);
    font-size: 40px;
    // .Icon-item {}
  }
}